<input type="hidden" name="url_ajax" id="url_ajax" value="{{home.getAjaxUri()}}">
<table class="table" id="tableSilabosCourses">
    <thead>
        <tr>
            <th>#</th>
            <th>Curso nombre corto</th>
            <th>Curso nombre completo</th>
            <th>Activo</th>
            <th>Fecha registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if items|length > 0 %}
            {% set cont = 0 %}
            {% for item in items %}
                <tr>
                    <td>{{cont + 1}}</td>
                    <td>
                        {%if type == 'course'%}
                            {{item.chr_course_shortname}}
                        {%else%}
                            {{item.chr_name}}
                        {%endif%}
                    </td>
                    <td>
                        {%if type == 'course'%}
                            {{item.chr_course_fullname}}
                        {%else%}
                            {{item.chr_file_name}}
                        {%endif%}
                    </td>
                    <td>
                        {%if type == 'course'%}
                            <select name="select_{{item.id}}" onchange="activeCourse(this, {{item.id}});">
                                {% if item.is_active %}
                                    <option value="1" selected="selected">{{home.getString('silabos:enabled')}}</option>
                                    <option value="0">{{home.getString('silabos:disabled')}}</option>
                                {%else%}
                                    <option value="1">{{home.getString('silabos:enabled')}}</option>
                                    <option value="0" selected="selected">{{home.getString('silabos:disabled')}}</option>                                    
                                {%endif%}
                            </select>
                        {%else%}
                            {{item.is_active?home.getString('silabos:enabled'):home.getString('silabos:disabled')}}</td>
                        {%endif%}

                    <td>{{item.date_timemodified >0?item.date_timemodified|date("d/m/Y"):home.getString('silabos:noAplica')}}</td>
                    <td>
                        {%if type == 'course'%}
                            <a href="{{home.getSilabosUriFiles(item.id)}}">{{home.getString('silabos:files')}}</a>
                        {%else%}
                            <a href="{{home.getSilabosUriFormFiles(item.int_silaboid, item.id)}}">{{home.getString('silabos:editfiles')}}</a>
                            |
                            <a href="{{home.getUriFile(item.int_fileid)}}">{{home.getString('silabos:view')}}</a>
                        {%endif%}
                    </td>
                </tr>
                {% set cont = cont +1 %}
            {%endfor%}
        {%endif%}                    
    </tbody>
</table>